.profile {
  .card {
    width: 80%;
    max-width: 350px;
    display: flex;
    justify-content: flex;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    align-items: stretch;
    height: 80%;

    span.profile-photo {
      text-align: center;
    }

    img {
      
      width: 15rem;
      border-radius: 15%;
      max-width: 400px;
      padding-right: 2rem;
      padding-left: 2rem;
    }
    span.profile-data {
      margin: 3 4rem;
    }
    
    span.profile-data > * {
      border-top: 4px solid #dd77ddbd;
      padding: 4px 0;
    }
  }
}

form {
  label {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-dark);
  }
  input[type="text"],
  input[type="number"],
  input[type="file"],
  input[type="email"],
  select,
  input[type="password"] {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    border: 1px solid #777;
    border-radius: 3px;
    outline: none;
  }
}




@media screen and (max-width: 400px) {
  span.profile-photo {
    margin: auto;
  }
}
