.profile {
  .card {
    max-width: 400px;
    display: flex;
    justify-content: flex-start;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: stretch;

    span.profile-photo {
      text-align: center;
    }

    img {
      width: 60%;
      max-width: 350px;
      padding-right: 2rem;
      padding-left: 2rem;
    }
    span.profile-data {
      margin: 0 1rem;
    }
    span.profile-data > * {
      border-top: 1px solid #ccc;
      padding: 4px 0;
    }
  }
}

@media screen and (max-width: 300px) {
  span.profile-photo {
    margin: auto;
  }
}
