.product-detail {
  margin-bottom: 2rem;
  width: 180%;
  max-width: 300px;
  
  .card {
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
    height: 100%;
  
   
  }
  .detail {
    & > * {
      margin-bottom: 1rem;
    }
    .badge {
      background-color: var(--color-danger);
      color: #b9dfe4;
      padding-left: 1px;
      padding-right: 1px;
      border-radius: 3px;
    }
    p b {
      color: var(--dark-blue);
    }
  }
}

.group {
  border: 1px solid var(--dark-blue);
  padding: 5px;
}
